@if (books.length < 10) {
  <p>Es sind nur {{ books.length }} Bücher vorhanden.</p>
}

<div>
Filter:
<input type="text" [(ngModel)]="searchValue" required minlength="3"/>
</div>

<button (click)="toggleCover()">Cover {{coverIsVisible ? 'aus':'ein'}}blenden</button>

<br />

<p>
  Liste gefiltert nach: {{ searchValue }}
</p>

<table>
  <tr>
    <td>ISBN</td>
    <td>Name</td>
    <td>Price</td>
    <td>Rating</td>
    <td></td>
  </tr>

  <!-- *ngFor="let book of books"  -->
  @for (book of (books | bookFilter:searchValue); track book.isbn) {
    <tr style="height: 120px;">
      <td>{{ book.isbn }}</td>
      <td>{{ book.name }}</td>
      <td>{{ book.price | currency:'EUR':'symbol':'1.2-2' }}</td>
      <td>{{ book.rating| number:'1.1-1' }}</td>
      <td>
        @if (coverIsVisible) {
          <img [style.width.px]="breite" [src]="book.coverUrl" alt="Cover von {{ book.name }}" />
        }
      </td>
    </tr>
  }
</table>
